.Carousel{
    width: 60%;
}
.card{
    width: 30%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > img{
    margin: 0 auto;
    width: 600px;
}
.slick-arrow{
    background-color: blue;
}