*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  width: 100%;
  height: 10vh;
}
.main{
  width: 100%;
  height: 90vh;
}

.page{
  padding: 50px 12%;
}
.waterMark{
  width: 100%;
  text-align: center;
  color: rgba(75, 74, 74,0.6);
  font-size: 22px;
}

.btn-primary{
  background: rgb(87, 87, 248);
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all linear 0.5s;
}
.btn-primary:hover{
  background: rgb(140, 140, 247);
  box-shadow: 0 0 4px rgb(53, 53, 238);
}

.btn-primary:disabled{
  cursor: not-allowed;
  background: rgb(199,199,199);
  color: rgb(114,114,114);
}
button{
  cursor: pointer;
}
